h1{
  font-size: 20px;
  font-family: sans-serif;
}

.button{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #000000; /* black */
  font-color: #F8F8FF; /* grayish white */

body{
  background-color: #DCDCDC; /* whitish gray */
}
